h1 {
    text-align: center;
    background-color: lightsalmon;
    
}

#recipe {
    height: 300px;
    width: auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
}


h3 {
    background-color: lightsalmon;
}